
/*
Ma feuille de style à donf de ouf
*/



body{
  width: 100%;
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #2b2a2a;
  font-size: 1.2em;

}

#global{
  width: 1000px;
  background-color: #FFF;
  margin: 30px auto;
  /*padding: inherit;*/

}
header{
  border:1px solid #000;
}
header h1{
  /*font-family: 'Pacifico', cursive;*/
  text-align: center;
  display:inline-block;
  border:1px solid #000;
  background-image: url('img/mon_logo.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  width:300px;
  height:200px;
  vertical-align: middle;
  text-indent:-5000px;
  transition: : transform 2s;

}
h1:hover{
  animation-name: logoanime;
  animation-duration: 4s;
  color: #000;
}
nav{
  display:inline-block;
  border:1px solid #000;
  vertical-align: middle;
  background-color: #CDCDCDCD;
  padding: 0;
}
header nav ul{
  /*background-color: lightgrey;*/
  margin: 0;
  padding: 0;
}
header nav ul li{
  width: 150px;
  display: inline-block;
  margin-bottom: : 2px;
  /*background-color: orange;*/
}
header nav ul li a{
  vertical-align: center;
  text-align: center;
  width: inherit;
  display: inline-block;
  text-decoration: none;
  line-height: 40px;
  /*background-color: lightgrey;*/
  transition: transform 0.5s, background-color 0.5s, border 0.5s, text-decoration 0.5s, color 0.5s, 0.5s ease-in-out;
}

section{
    border:1px solid #000;
}

section article {
  vertical-align: middle;
  width: 73%;
}
section aside {
  vertical-align: top;
  width: 22%;
}

section aside, article {
  border:1px solid #000;
  display: inline-block;
  padding: 5px;
  width: 22%;
}
img{
    animation-name: example;
    animation-duration: 4s;
    transition: width 2s, height 2s, transform 2s, border 2s;
}
.container:hover img{
  transform: rotate3d(0.5, 1,-0.5, 90deg);
  /*transform: rotateZ(90deg);*/
}

#central p{
  text-align: left;
  word-spacing: 5px;
  letter-spacing: -1px;
  text-decoration: none;
  line-height: 130%;
  font-weight: 400;
  text-transform:lowercase;
}

#navmenu li {
  width: 150px;
  display: inline-block;
  margin-bottom: : 50px;
  /*background-color: brown;*/
}

.fondbleu{
  background-color: blue;
}
.container{
  display: inline-block;

}

button:hover{
  cursor: pointer;
  cursor: hand;
}

 ul li:hover a{
  transform: rotate(45deg);
  text-decoration: underline;
  color:purple;
  background-color: lightgrey;
  border-left:  1px solid #000;
  border-right: 1px solid #000;
}

/*a:hover{
    color:lightred;

}*/

@keyframes logoanime {
    from {background-position:center; text-indent:-5000px; }
    50% {background-position:-5000px top; text-indent:0;}
    to {background-position:center; text-indent:-5000px; }
}

/* The animation code */
@keyframes example {
   from {opacity: 0;}
   to {opacity: 1;}
}
